.book {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 95%;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 10px 20px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}
.book:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.book_img {
  border-radius: 10px 10px 0 0;
  height: 85%;
  width: 100%;
  padding: 15px;
}

.book_info {
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.book_info_title {
  font-size: 14px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
}
.book_info_date,
.book_info_publisher {
  color: #999;
}
